<fieldset class="border p-3">
  <div class="form-group">
    <%= form_for :session, url: sign_in_path, html: {:class => 'form-signin'} do |f| %>
      <div class="form-label-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %>
      </div>

      <div class="form-label-group mt-1">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password"  %>
      </div>
      <div class="mt-3">
        <%= f.submit "Entrar", class: 'btn btn-lg btn-primary btn-block text-uppercase' %>
      </div>
    <% end %>
  </div>
</fieldset>
