<%= form_with(model: replacement_order, local: true) do |form| %>
  <% if replacement_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(replacement_order.errors.count, "error") %> prohibited this replacement_order from being saved:</h2>

      <% replacement_order.errors.each do |message| %>
        <p class="alert alert-danger"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="border p-3 mb-2">
    <div class="form-group row">
      <%= form.label :Substituido, class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-4">
        <%= form.collection_select :owner_id, User.all, :id, :name %>
      </div>
    </div>

<!--    <div class="form-group row">
      <%= form.label 'Cargo/ função que o indicado terá que exercer', class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-4 ">
        <%= form.text_field :cargo, id: :replacement_order_cargo, class: 'form-control' %>
      </div>
    </div>
-->
    <div class="form-group row">
      <%= form.label 'Periodo da substitução, de:', class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-9 col-md-4" >
        <%= form.date_field :start_date, id: :replacement_order_start_date, class: 'form-control', min: Date.today %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :ate, class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-9 col-md-4" >
        <%= form.date_field :end_date, id: :replacement_order_end_date, class: 'form-control', min: Date.today %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :total_de_dias, class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-2">
        <%= form.text_field :dias, id: :diff_day, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :observaçôes, class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-9">
        <%= form.text_area :comments, id: :replacement_order_comments, class: 'form-control', rows: 3 %>
      </div>
    </div>
  </div>

  <fieldset class="border p-3">
    <div class="form-group row">
      <%= form.label :Indicado, class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-9">
        <%= form.collection_select :indicate_id, User.all, :id, :name %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :observaçôes, class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-9">
        <%= form.text_area :comments_indicate, id: :replacement_order_comments_indicate, class: 'form-control', rows: 2 %>
      </div>
    </div>

    <div class="float-right">
      <%= link_to 'Cancelar', replacement_orders_path , class: 'btn' %>
      <%= form.submit "Solicitar", class: 'btn btn-primary' %>
    </div>
  </fieldset>

<% end %>
