<p id="notice"><%= notice %></p>

<h1>Replacement Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Status</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Indicate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replacement_orders.each do |replacement_order| %>
      <tr>
        <td><%= replacement_order.owner.name%></td>
        <td><%= replacement_order.state%></td>
        <td><%= replacement_order.start_date.strftime("%d-%m-%Y") %></td>
        <td><%= replacement_order.end_date.strftime("%d-%m-%Y") %></td>
        <td><%= replacement_order.indicate.name%></td>
        <% if awaiting_review? replacement_order and @current_user.admin? %>
          <td>
            <%= link_to 'Abilitar Revisão', 
              "/replacement_orders/#{replacement_order.id}/review", data: { confirm: 'Abilitar Revisâo?' } %>
          </td>
        <% elsif being_review? replacement_order and @current_user.admin? %>
          <td><%= link_to 'Finalizar', replacement_order %></td>
        <% elsif ['accepted', 'rejected'].include? replacement_order.state %>
          <td>Finalizado</td>
        <% end %>
        <!-- <td><%= link_to 'Destroy', replacement_order, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Pedido', new_replacement_order_path %>
