<h1>Formulario para solicitação</h1>

<ul class="nav nav-tabs" id="" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      Solicitação
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'disabled' if @replacement_order.state == 'init' %>" 
      id="valid-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      Validação
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'disabled' if @replacement_order.state == 'init' %>" 
      id="final-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
      Final
    </a>
  </li>
</ul>

<div class="tab-content" id="">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%= render 'form', replacement_order: @replacement_order %>
  </div>
    <div class="tab-pane fade" id="valid" role="tabpanel" aria-labelledby="profile-tab">
    <% unless @replacement_order.owner.nil? %>
      <%= render 'show', replacement_order: @replacement_order %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="final" role="tabpanel" aria-labelledby="contact-tab">
  </div>
</div>


