<p id="notice"><%= notice %></p>
<p>
  <strong>Cadidate:</strong>
  <%= @replacement_order.owner.name %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @replacement_order.comments %>
</p>

<p>
  <strong>Indicate:</strong>
  <%= @replacement_order.indicate.name %>
</p>

<p>
  <strong>Comments for Indicate</strong>
  <%= @replacement_order.comments_indicate %>
</p>

<p>
  <strong>State</strong>
  <%= @replacement_order.state %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @replacement_order.start_date.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @replacement_order.end_date.strftime("%d-%m-%Y")  %>
</p>



<%= link_to 'Back', replacement_orders_path %>

<% if @replacement_order.state == 'being_reviewed' %>
  <%= link_to 'Aceitar', "/replacement_orders/#{@replacement_order.id}/accept", data: { confirm: 'Foi aceito ?' } %>
  <%= link_to 'Rejeitar', "/replacement_orders/#{@replacement_order.id}/reject", data: { confirm: 'Foi rejeitado ?' } %>
<% end %>

